<tr>
  <td>
    <ul style="padding-left: 1rem;">
      <li
        class="txt-light txt-medium py-sm"
        style="font-weight: 500; padding-top: 0.5rem; padding-bottom: 0.5rem; color: #ffffff;"
      >
        Deployment usages
        <table class="full-width" style="width: 100%">
          <tr>
            <td class="pb-xs" style="padding-top: .25rem">
              {{#unless billBreakdown.deploymentUsage}}
                <table>
                  <tbody>
                    <tr>
                      <td class="txt-light" style="color: #ffffff;">
                        No usages
                      </td>
                    </tr>
                  </tbody>
                </table>
              {{/unless}}
              {{#if billBreakdown.deploymentUsage}}
                <table
                  class="full-width bd-collapse br-xs of-hidden bg-secondary-light"
                  style="background-color: #23203e; width: 100%; border-radius: 1rem; border-collapse: collapse; border-spacing: 0; overflow-y: hidden; overflow-x: hidden;"
                  width="100%"
                  bgcolor="#23203e"
                >
                  <thead
                    class="bg-secondary-medium"
                    style="background-color: #2e2450;"
                    bgcolor="#2e2450"
                  >
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Name
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Machine
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Instances
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Monthly Charge
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Hours Used
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Bill Amount
                    </th>
                  </thead>
                  <tbody>
                    {{#each billBreakdown.deploymentUsage}}
                      <tr>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{#if this.isDeleted}}
                            {{this.name}}
                          {{else}}
                            <a
                              href="https://app.patr.cloud/deployment/{{this.deploymentId}}"
                              class="plain-link txt-primary"
                              title="Open on Patr"
                              style="color: #f89b41; text-decoration: none; font-weight: 500;"
                            >{{this.name}}</a>
                          {{/if}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          <table class="full-width" style="width: 100%">
                            <tbody>
                              {{#each this.deploymentBill}}
                                <tr>
                                  <td
                                    class="txt-light"
                                    style="color: #ffffff; text-align: center"
                                    align="center"
                                  >
                                    {{this.machineType.cpuCount}}vCPU
                                    {{this.machineType.memoryCount}}GB RAM
                                  </td>
                                </tr>
                              {{/each}}
                            </tbody>
                          </table>
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          <table class="full-width" style="width: 100%">
                            <tbody>
                              {{#each this.deploymentBill}}
                                <tr>
                                  <td
                                    class="txt-light"
                                    style="color: #ffffff;text-align: center"
                                    align="center"
                                  >
                                    {{this.numInstances}}
                                  </td>
                                </tr>
                              {{/each}}
                            </tbody>
                          </table>
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          <table class="full-width" style="width: 100%">
                            <tbody>
                              {{#each this.deploymentBill}}
                                <tr>
                                  <td
                                    class="txt-light"
                                    style="color: #ffffff;text-align: center"
                                    align="center"
                                  >
                                    ${{cents-to-dollars this.monthlyCharge}}
                                  </td>
                                </tr>
                              {{/each}}
                            </tbody>
                          </table>
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          <table class="full-width" style="width: 100%">
                            <tbody>
                              {{#each this.deploymentBill}}
                                <tr>
                                  <td
                                    class="txt-light"
                                    style="color: #ffffff;text-align: center"
                                    align="center"
                                  >
                                    {{this.hours}}
                                  </td>
                                </tr>
                              {{/each}}
                            </tbody>
                          </table>
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          <table class="full-width" style="width: 100%">
                            <tbody>
                              {{#each this.deploymentBill}}
                                <tr>
                                  <td
                                    class="txt-light"
                                    style="color: #ffffff;text-align: center"
                                    align="center"
                                  >
                                    ${{cents-to-dollars this.amount}}
                                  </td>
                                </tr>
                              {{/each}}
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    {{/each}}
                    <tr
                      class="bg-secondary-medium"
                      style="background-color:#2e2450"
                      bgcolor="#2e2450"
                    >
                      <td
                        colspan="5"
                        class="txt-light txt-right px-md py-xs"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; color: #ffffff; text-align: right"
                        align="right"
                      >
                        Total Deployment Charges
                      </td>
                      <td
                        class="txt-primary px-md py-xs txt-center"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #f89b41"
                        align="center"
                      >${{cents-to-dollars billBreakdown.deploymentCharge}}</td>
                    </tr>
                  </tbody>
                </table>
              {{/if}}
            </td>
          </tr>
        </table>
      </li>
      <li
        class="txt-light txt-medium py-sm"
        style="font-weight: 500; padding-top: 0.5rem; padding-bottom: 0.5rem; color: #ffffff;"
      >
        Database usages
        <table class="full-width" style="width: 100%">
          <tr>
            <td class="pb-xs" style="padding-top: .25rem">
              {{#unless billBreakdown.databaseUsage}}
                <table>
                  <tbody>
                    <tr>
                      <td class="txt-light" style="color: #ffffff;">
                        No usages
                      </td>
                    </tr>
                  </tbody>
                </table>
              {{/unless}}
              {{#if billBreakdown.databaseUsage}}
                <table
                  class="full-width bd-collapse br-xs of-hidden bg-secondary-light"
                  style="background-color: #23203e; width: 100%; border-radius: 1rem; border-collapse: collapse; border-spacing: 0; overflow-y: hidden; overflow-x: hidden;"
                  width="100%"
                  bgcolor="#23203e"
                >
                  <thead
                    class="bg-secondary-medium"
                    style="background-color: #2e2450;"
                    bgcolor="#2e2450"
                  >
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Name
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Monthly Charge
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Hours Used
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Bill Amount
                    </th>
                  </thead>
                  <tbody>
                    {{#each billBreakdown.databaseUsage}}
                      <tr>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{#if this.isDeleted}}
                            {{this.name}}
                          {{else}}
                            <a
                              href="https://app.patr.cloud/database/{{this.databaseId}}"
                              class="plain-link txt-primary"
                              title="Open on Patr"
                              style="color: #f89b41; text-decoration: none; font-weight: 500;"
                            >{{this.name}}</a>
                          {{/if}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          ${{cents-to-dollars this.monthlyCharge}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{this.hours}}hr
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          ${{cents-to-dollars this.amount}}
                        </td>
                      </tr>
                    {{/each}}
                    <tr
                      class="bg-secondary-medium"
                      style="background-color:#2e2450"
                      bgcolor="#2e2450"
                    >
                      <td
                        colspan="3"
                        class="txt-light px-md py-xs txt-right"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; color: #ffffff; text-align: right"
                        align="right"
                      >
                        Total Database Charges
                      </td>
                      <td
                        class="txt-primary px-md py-xs txt-center"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #f89b41"
                        align="center"
                      >${{cents-to-dollars billBreakdown.databaseCharge}}</td>
                    </tr>
                  </tbody>
                </table>
              {{/if}}
            </td>
          </tr>
        </table>
      </li>
      <li
        class="txt-light txt-medium py-sm"
        style="font-weight: 500; padding-top: 0.5rem; padding-bottom: 0.5rem; color: #ffffff;"
      >
        Static Site usages
        <table class="full-width" style="width: 100%">
          <tr>
            <td class="pb-xs" style="padding-top: .25rem">
              {{#unless billBreakdown.staticSiteUsage}}
                <table>
                  <tbody>
                    <tr>
                      <td class="txt-light" style="color: #ffffff;">
                        No usages
                      </td>
                    </tr>
                  </tbody>
                </table>
              {{/unless}}
              {{#if billBreakdown.staticSiteUsage}}
                <table
                  class="full-width bd-collapse br-xs of-hidden bg-secondary-light"
                  style="background-color: #23203e; width: 100%; border-radius: 1rem; border-collapse: collapse; border-spacing: 0; overflow-y: hidden; overflow-x: hidden;"
                  width="100%"
                  bgcolor="#23203e"
                >
                  <thead
                    class="bg-secondary-medium"
                    style="background-color: #2e2450;"
                    bgcolor="#2e2450"
                  >
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Plan
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Monthly Charge
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      From
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Till
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Hours Used
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Bill Amount
                    </th>
                  </thead>
                  <tbody>
                    {{#each billBreakdown.staticSiteUsage}}
                      <tr>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{this.plan}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          ${{cents-to-dollars this.monthlyCharge}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{format-date this.startTime}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{#if this.stopTime}}
                            {{format-date this.stopTime}}
                          {{else}}
                            Present
                          {{/if}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{this.hours}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          ${{cents-to-dollars this.amount}}
                        </td>
                      </tr>
                    {{/each}}
                    <tr
                      class="bg-secondary-medium"
                      style="background-color:#2e2450"
                      bgcolor="#2e2450"
                    >
                      <td
                        colspan="5"
                        class="txt-light txt-right px-md py-xs"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; color: #ffffff; text-align: right"
                        align="right"
                      >
                        Total Static Site Charges
                      </td>
                      <td
                        class="txt-primary px-md py-xs txt-center"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #f89b41"
                        align="center"
                      >${{cents-to-dollars billBreakdown.staticSiteCharge}}</td>
                    </tr>
                  </tbody>
                </table>
              {{/if}}
            </td>
          </tr>
        </table>
      </li>
      <li
        class="txt-light txt-medium py-sm"
        style="font-weight: 500; padding-top: 0.5rem; padding-bottom: 0.5rem; color: #ffffff;"
      >
        Domain usages
        <table class="full-width" style="width: 100%">
          <tr>
            <td class="pb-xs" style="padding-top: .25rem">
              {{#unless billBreakdown.domainUsage}}
                <table>
                  <tbody>
                    <tr>
                      <td class="txt-light" style="color: #ffffff;">
                        No usages
                      </td>
                    </tr>
                  </tbody>
                </table>
              {{/unless}}
              {{#if billBreakdown.domainUsage}}
                <table
                  class="full-width bd-collapse br-xs of-hidden bg-secondary-light"
                  style="background-color: #23203e; width: 100%; border-radius: 1rem; border-collapse: collapse; border-spacing: 0; overflow-y: hidden; overflow-x: hidden;"
                  width="100%"
                  bgcolor="#23203e"
                >
                  <thead
                    class="bg-secondary-medium"
                    style="background-color: #2e2450;"
                    bgcolor="#2e2450"
                  >
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Plan
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Monthly Charge
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      From
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Till
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Hours Used
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Bill Amount
                    </th>
                  </thead>
                  <tbody>
                    {{#each billBreakdown.domainUsage}}
                      <tr>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{this.plan}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          ${{cents-to-dollars this.monthlyCharge}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{format-date this.startTime}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{#if this.stopTime}}
                            {{format-date this.stopTime}}
                          {{else}}
                            Present
                          {{/if}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{this.hours}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          ${{cents-to-dollars this.amount}}
                        </td>
                      </tr>
                    {{/each}}
                    <tr
                      class="bg-secondary-medium"
                      style="background-color:#2e2450"
                      bgcolor="#2e2450"
                    >
                      <td
                        colspan="5"
                        class="txt-light txt-right px-md py-xs"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; color: #ffffff; text-align: right"
                        align="right"
                      >
                        Total Domain Charges
                      </td>
                      <td
                        class="txt-primary px-md py-xs txt-center"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #f89b41"
                        align="center"
                      >${{cents-to-dollars billBreakdown.domainCharge}}</td>
                    </tr>
                  </tbody>
                </table>
              {{/if}}
            </td>
          </tr>
        </table>
      </li>
      <li
        class="txt-light txt-medium py-sm"
        style="font-weight: 500; padding-top: 0.5rem; padding-bottom: 0.5rem; color: #ffffff;"
      >
        Managed URL usages
        <table class="full-width" style="width: 100%">
          <tr>
            <td class="pb-xs" style="padding-top: .25rem">
              {{#unless billBreakdown.managedUrlUsage}}
                <table>
                  <tbody>
                    <tr>
                      <td class="txt-light" style="color: #ffffff;">
                        No usages
                      </td>
                    </tr>
                  </tbody>
                </table>
              {{/unless}}
              {{#if billBreakdown.managedUrlUsage}}
                <table
                  class="full-width bd-collapse br-xs of-hidden bg-secondary-light"
                  style="background-color: #23203e; width: 100%; border-radius: 1rem; border-collapse: collapse; border-spacing: 0; overflow-y: hidden; overflow-x: hidden;"
                  width="100%"
                  bgcolor="#23203e"
                >
                  <thead
                    class="bg-secondary-medium"
                    style="background-color: #2e2450;"
                    bgcolor="#2e2450"
                  >
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Plan
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Monthly Charge
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      From
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Till
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Hours Used
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Bill Amount
                    </th>
                  </thead>
                  <tbody>
                    {{#each billBreakdown.managedUrlUsage}}
                      <tr>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{this.plan}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          ${{cents-to-dollars this.monthlyCharge}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{format-date this.startTime}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{#if this.stopTime}}
                            {{format-date this.stopTime}}
                          {{else}}
                            Present
                          {{/if}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{this.hours}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          ${{cents-to-dollars this.amount}}
                        </td>
                      </tr>
                    {{/each}}
                    <tr
                      class="bg-secondary-medium"
                      style="background-color:#2e2450"
                      bgcolor="#2e2450"
                    >
                      <td
                        colspan="5"
                        class="txt-light px-md py-xs txt-right"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; color: #ffffff; text-align: right"
                        align="right"
                      >
                        Total Managed URL Charges
                      </td>
                      <td
                        class="txt-primary px-md py-xs txt-center"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #f89b41"
                        align="center"
                      >${{cents-to-dollars billBreakdown.managedUrlCharge}}</td>
                    </tr>
                  </tbody>
                </table>
              {{/if}}
            </td>
          </tr>
        </table>
      </li>
      <li
        class="txt-light txt-medium py-sm"
        style="font-weight: 500; padding-top: 0.5rem; padding-bottom: 0.5rem; color: #ffffff;"
      >
        Secrets usages
        <table class="full-width" style="width: 100%">
          <tr>
            <td class="pb-xs" style="padding-top: .25rem">
              {{#unless billBreakdown.secretUsage}}
                <table>
                  <tbody>
                    <tr>
                      <td class="txt-light" style="color: #ffffff;">
                        No usages
                      </td>
                    </tr>
                  </tbody>
                </table>
              {{/unless}}
              {{#if billBreakdown.secretUsage}}
                <table
                  class="full-width bd-collapse br-xs of-hidden bg-secondary-light"
                  style="background-color: #23203e; width: 100%; border-radius: 1rem; border-collapse: collapse; border-spacing: 0; overflow-y: hidden; overflow-x: hidden;"
                  width="100%"
                  bgcolor="#23203e"
                >
                  <thead
                    class="bg-secondary-medium"
                    style="background-color: #2e2450;"
                    bgcolor="#2e2450"
                  >
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Plan
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Monthly Charge
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      From
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Till
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Hours Used
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Bill Amount
                    </th>
                  </thead>
                  <tbody>
                    {{#each billBreakdown.secretUsage}}
                      <tr>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{this.plan}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          ${{cents-to-dollars this.monthlyCharge}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{format-date this.startTime}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{#if this.stopTime}}
                            {{format-date this.stopTime}}
                          {{else}}
                            Present
                          {{/if}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{this.hours}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          ${{cents-to-dollars this.amount}}
                        </td>
                      </tr>
                    {{/each}}
                    <tr
                      class="bg-secondary-medium"
                      style="background-color:#2e2450"
                      bgcolor="#2e2450"
                    >
                      <td
                        colspan="5"
                        class="txt-light txt-right px-md py-xs"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; color: #ffffff;text-align: right"
                        align="right"
                      >
                        Total Secrets Charges
                      </td>
                      <td
                        class="txt-primary px-md py-xs txt-center"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #f89b41"
                        align="center"
                      >${{cents-to-dollars billBreakdown.secretCharge}}</td>
                    </tr>
                  </tbody>
                </table>
              {{/if}}
            </td>
          </tr>
        </table>
      </li>
      <li
        class="txt-light txt-medium pt-sm"
        style="font-weight: 500; padding-top: 0.5rem; color: #ffffff;"
      >
        Docker Repository usages
        <table class="full-width" style="width: 100%">
          <tr>
            <td class="pb-xs" style="padding-top: .25rem">
              {{#unless billBreakdown.dockerRepositoryUsage}}
                <table>
                  <tbody>
                    <tr>
                      <td class="txt-light" style="color: #ffffff;">
                        No usages
                      </td>
                    </tr>
                  </tbody>
                </table>
              {{/unless}}
              {{#if billBreakdown.dockerRepositoryUsage}}
                <table
                  class="full-width bd-collapse br-xs of-hidden bg-secondary-light"
                  style="background-color: #23203e; width: 100%; border-radius: 1rem; border-collapse: collapse; border-spacing: 0; overflow-y: hidden; overflow-x: hidden;"
                  width="100%"
                  bgcolor="#23203e"
                >
                  <thead
                    class="bg-secondary-medium"
                    style="background-color: #2e2450;"
                    bgcolor="#2e2450"
                  >
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Plan
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Monthly Charge
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      From
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Till
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Hours Used
                    </th>
                    <th
                      class="txt-light px-md py-sm txt-center"
                      style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                      align="center"
                    >
                      Bill Amount
                    </th>
                  </thead>
                  <tbody>
                    {{#each billBreakdown.dockerRepositoryUsage}}
                      <tr>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{this.plan}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          ${{cents-to-dollars this.monthlyCharge}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{format-date this.startTime}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{#if this.stopTime}}
                            {{format-date this.stopTime}}
                          {{else}}
                            Present
                          {{/if}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          {{this.hours}}
                        </td>
                        <td
                          class="txt-light px-md py-xs txt-center"
                          style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                          align="center"
                        >
                          ${{cents-to-dollars this.amount}}
                        </td>
                      </tr>
                    {{/each}}
                    <tr
                      class="bg-secondary-medium"
                      style="background-color:#2e2450"
                      bgcolor="#2e2450"
                    >
                      <td
                        colspan="5"
                        class="txt-light px-md py-xs txt-right"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; color: #ffffff; text-align: right"
                        align="right"
                      >
                        Total Docker Repository Charges
                      </td>
                      <td
                        class="txt-primary px-md py-xs txt-center"
                        style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #f89b41"
                        align="center"
                      >${{cents-to-dollars
                          billBreakdown.dockerRepositoryCharge
                        }}</td>
                    </tr>
                  </tbody>
                </table>
              {{/if}}
            </td>
          </tr>
        </table>
      </li>
    </ul>
  </td>
</tr>