<tr>
  <td class="pt-md" style="padding-top: 1rem;">
    <table
      class="full-width bd-collapse"
      style="width: 100%;  border-collapse: collapse; border-spacing: 0;"
      width="100%"
    >
      <thead>
        <th
          class="txt-primary pr-md txt-left"
          style="padding-right: 1rem; color: #f89b41; text-align: left"
          align="left"
        >
          From
        </th>
        <th
          class="txt-primary pl-md txt-left"
          style=" padding-left: 1rem; color: #f89b41; text-align: left"
          align="left"
        >
          For
        </th>
      </thead>
      <tbody>
        <tr>
          <td
            class="txt-light pr-md py-xs txt-left txt-xs valign-top"
            style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-right: 1rem; text-align: left; color: #ffffff; font-size: .6rem; vertical-align: top"
            align="left"
          >
            <address
              class="txt-light txt-xs txt-normal"
              style="color: #ffffff; font-style: normal; font-size: 0.6rem"
            >
              Araciv Technologies Private Limited
              <br />
              First Floor Bommanahalli Industrial Area,<br />
              No 325/3, Bommanahalli, Hosur Main Road,<br />
              Bengaluru (bangalore) Urban, Karnataka, 560068
              <br />
              <strong class="txt-primary" style="color: #f89b41;">GSTIN/UIN:
              </strong><strong
                class="txt-light"
                style="color: #ffffff;"
              >29AAPCA3583N1ZU</strong>
              <br />
              <strong class="txt-primary" style="color: #f89b41;">CIN:
              </strong><strong
                class="txt-light"
                style="color: #ffffff;"
              >U74999TN2017PTC115643</strong>
              <br />
              <strong class="txt-primary" style="color: #f89b41;">LUT Number:
              </strong><strong
                class="txt-light"
                style="color: #ffffff;"
              >AD2907220054819</strong>
            </address>
          </td>
          <td
            class="txt-light pl-md py-xs txt-left txt-xs valign-top"
            style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; text-align: left; color: #ffffff; font-size: .6rem; vertical-align: top"
            align="left"
          >
            {{#unless billingAddress.firstName}}
              Billing address not available.
              <br />
              Please add your billing address on
              <a
                class="plain-link txt-primary"
                title="Join Patr Discord"
                href="https://app.patr.cloud/workspace/"
                style="color: #f89b41; text-decoration: none; font-weight: 500;"
              >PATR</a>
            {{/unless}}
            {{#if billingAddress.firstName}}
              <address
                class="txt-light txt-xs txt-normal"
                style="color: #ffffff;font-style: normal; font-size: 0.6rem"
              >
                {{billingAddress.firstName}}
                {{billingAddress.lastName}}
                <br />
                {{billingAddress.addressLine1}}<br />
                {{#if billingAddress.addressLine2}}
                  {{billingAddress.addressLine2}}<br />
                {{/if}}
                {{#if billingAddress.addressLine3}}
                  {{billingAddress.addressLine3}}<br />
                {{/if}}
                {{billingAddress.city}},
                {{billingAddress.state}},
                {{billingAddress.country}}
                {{billingAddress.zip}}
              </address>
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>