
Hello there,

You pushed a docker image to Patr registry under 
    workspace: {{workspace_name}}
    repository: {{repository_name}}
    tag: {{tag}}
    digest: {{digest}}
    ip_address: {{ip_address}}
which is exceeding the current repository storage size limit of 10 GB. So this image has been deleted from Patr.

You can resolve this issue in two ways:
    - You can free up the storage space by manually deleting the unused docker images in the repository <a href="https://app.patr.cloud/docker-repository/{{repository_id}}">{{repository_name}}</a> and then try pushing the required image again 
    - <a href="https://patr.cloud/pricing">Upgrade your docker repository storage</a> for larger storage and uninterrupted service

Please contact support at support@patr.cloud for further detailed response.
