<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patr Email</title>
  </head>
  <body style="margin:0;padding:0;background-color:#0d0526;">
    <center style="width:100%;table-layout:fixed;background-color:#0d0526;">
      <span style="max-width:600px;color:#ffffff">
        <table
          style="margin:0 auto;width:100%;max-width:600px;border-spacing:0;font-family:sans-serif;background-color:#0d0526"
          align="center"
        >
          <tr>
            <td>
              <a
                href="https://patr.cloud"
                target="_blank"
                title="Log on to Patr"
              >
                <img
                  width="100%"
                  src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/header.png"
                  alt="header"
                />
              </a>
            </td>
          </tr>
          <tr>
            <td style="padding:10px 20px;color:#ffa500;font-size:18px;">
              Hello
              {{username}},
            </td>
          </tr>
          <tr>
            <td style="padding:10px 20px;color:#ffffff">
              This is a gentle reminder that your bill for
              <strong
                style="color:#ffffff;font-size:17px"
              >{{month}}/{{year}}</strong>
              for the workspace
              <strong
                style="color:#ffffff;font-size:17px"
              >{{workspace_name}}</strong>
              has not been paid.
            </td>
          </tr>
          <tr>
            <td style="padding:10px 20px;color:#ffffff">
              Kindly pay your bill as soon as possible to prevent your resources from being deleted.
            </td>
          </tr>
          <tr>
            <td style="padding:10px 20px;color:#ffffff">
              The total usage charges for
              {{month}}/{{year}} are:
              <strong
                style="color:#ffffff;font-size:17px"
              >${{total_bill}}</strong>
            </td>
          </tr>
          <tr>
            <td style="padding:10px 20px;color:#ffffff">
              Join our
              <a
                title="Join Patr Discord"
                href="https://patr.cloud/discord"
                target="_blank"
              >Discord Community</a>
              for latest updates and instant technical support.
            </td>
          </tr>
          <tr>
            <td align="center" style="padding: 10px 20px;">
              <table>
                <tr>
                  <td style="padding: 0 5px;">
                    <a
                      href="https://www.linkedin.com/showcase/patr/"
                      target="_blank"
                    ><img
                        width="26"
                        src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/linkedin.png"
                        alt="linked in"
                      /></a>
                  </td>
                  <td style="padding: 0 5px;">
                    <a href="https://twitter.com/patrcloud" target="_blank"><img
                        width="26"
                        src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/twitter.png"
                        alt="twitter"
                      /></a></td>
                  <td style="padding: 0 5px;">
                    <a
                      href="https://www.instagram.com/patrcloud/"
                      target="_blank"
                    ><img
                        width="26"
                        src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/instagram.png"
                        alt="instagram"
                      /></a>
                  </td>
                  <td style="padding: 0 5px;">
                    <a href="mailto:hello@patr.cloud" target="_blank"><img
                        width="26"
                        src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/mail.png"
                        alt="mail"
                      /></a>
                  </td>
                  <td style="padding: 0 5px;">
                    <a
                      href="https://medium.com/patr-deployment-community"
                      target="_blank"
                    ><img
                        width="26"
                        src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/medium.png"
                        alt="medium"
                      /></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <a href="https://patr.cloud" title="Head on to Patr"><img
                  width="100%"
                  src="https://262a454d609849758bd4dd7dd7a24fcc.patr.cloud/footer.png"
                  alt="footer"
                /></a>
            </td>
          </tr>
        </table>
      </span>
    </center>
  </body>
</html>