<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patr Email</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

  </head>
  <body
    style="margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0; padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; font-family: 'Poppins', 'Gill Sans', 'Trebuchet MS', sans-serif; background-color: #0d0526;"
  >
    <div
      class="container"
      style="width: 100%; table-layout: fixed; margin-left: auto; margin-right: auto; background-color: #0d0526;"
    >
      <span
        class="limit-width txt-light"
        style="max-width: 600px; color: #ffffff;"
      >
        <table
          class="table-main"
          style="width: 100%; margin-left: auto; margin-right: auto; max-width: 600px; border-spacing: 0; border-collapse: collapse;"
          width="100%"
        >
          <tbody>
            <tr>
              <td class="pt-lg" style="padding-top: 3rem;"></td>
            </tr>
            <tr>
              <td>
                <table class="br-sm" style="border-radius: 1.5rem;">
                  <tbody>
                    <tr>
                      <td
                        class="sub-container"
                        style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; overflow-x: hidden; overflow-y: hidden; background-color: #191131; border-radius: 1.5rem; -webkit-border-radius: 1.5rem; -moz-border-radius: 1.5rem;"
                        bgcolor="#191131"
                      >
                        <table>
                          <tbody>
                            <tr>
                              <td>
                                <img
                                  class="img-header"
                                  src="https://static-images.patr.cloud/email/images/header.png"
                                  alt="Patr Header"
                                  style="border-top-left-radius: 1.3rem; border-top-right-radius: 1.3rem; width: 100%;"
                                />
                              </td>
                            </tr>
                            <tr>
                              <td
                                class="content-container"
                                style="padding-top: 1.5rem; padding-bottom: 2rem; padding-left: 2rem; padding-right: 2rem;"
                              >
                                <table>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <strong
                                          class="txt-light txt-lg"
                                          style="color: #ffffff; font-size: 1.2rem;"
                                        >
                                          Hello
                                          {{username}},
                                        </strong>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td
                                        class="para txt-light"
                                        style="padding-top: 1rem; color: #ffffff; letter-spacing: 0.3px; line-height: 1.3;"
                                      >
                                        This is to notify you that the following
                                        resources on your workspace
                                        <strong
                                          class="txt-light"
                                          style="color: #ffffff"
                                        >{{workspaceName}}</strong>
                                        has been deleted.
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <table
                                          class="full-width bd-collapse br-xs of-hidden bg-secondary-light"
                                          style="background-color: #23203e; width: 100%; border-radius: 1rem; border-collapse: collapse; border-spacing: 0; overflow-y: hidden; overflow-x: hidden;"
                                          width="100%"
                                          bgcolor="#23203e"
                                        >
                                          <thead
                                            class="bg-secondary-medium"
                                            style="background-color: #2e2450;"
                                            bgcolor="#2e2450"
                                          >
                                            <th
                                              class="txt-light px-md py-sm txt-center"
                                              style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                                              align="center"
                                            >
                                              Resource
                                            </th>
                                            <th
                                              class="txt-light px-md py-sm txt-center"
                                              style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                                              align="center"
                                            >
                                              Name
                                            </th>
                                            <th
                                              class="txt-light px-md py-sm txt-center"
                                              style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                                              align="center"
                                            >
                                              Deleted By
                                            </th>
                                            {{#if message}}
                                              <th
                                                class="txt-light px-md py-sm txt-center"
                                                style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                                                align="center"
                                              >
                                                Message
                                              </th>
                                            {{/if}}
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td
                                                class="txt-light px-md py-xs txt-center"
                                                style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                                                align="center"
                                              >
                                                {{resourceType}}
                                              </td>
                                              <td
                                                class="txt-light px-md py-xs txt-center"
                                                style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                                                align="center"
                                              >
                                                {{resourceName}}
                                              </td>
                                              <td
                                                class="txt-light px-md py-xs txt-center"
                                                style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                                                align="center"
                                              >
                                                {{deletedBy}}
                                              </td>
                                              {{#if message}}
                                                <td
                                                  class="txt-light px-md py-xs txt-center"
                                                  style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 1rem; text-align: center; color: #ffffff;"
                                                  align="center"
                                                >
                                                  {{message}}
                                                </td>
                                              {{/if}}
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td
                                        class="para txt-light"
                                        style="padding-top: 1rem; color: #ffffff; letter-spacing: 0.3px; line-height: 1.3;"
                                      >
                                        If you are facing any issues, please
                                        contact support at
                                        <a
                                          href="mailto:suppport@patr.cloud"
                                          class="plain-link txt-primary"
                                          title="Contact Patr support"
                                          style="color: #f89b41; text-decoration: none; font-weight: 500;"
                                        >suppport@patr.cloud</a>.
                                      </td>
                                    </tr>
                                    <tr>
                                      <td
                                        class="para txt-light"
                                        style="padding-top: 1rem; color: #ffffff; letter-spacing: 0.3px; line-height: 1.3;"
                                      >
                                        Join our
                                        <a
                                          class="plain-link txt-primary"
                                          title="Join Patr Discord"
                                          href="https://discord.com/invite/ZZqDTdGDZ3"
                                          style="color: #f89b41; text-decoration: none; font-weight: 500;"
                                        >Discord Community</a>
                                        for the latest updates and chat with us
                                        here for instant technical support.
                                      </td>
                                    </tr>
                                    <tr>
                                      <td
                                        class="pt-md"
                                        style="padding-top: 1rem;"
                                      ></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td class="icon-container" style="padding-top: 2rem;">
                <table
                  class="mx-auto"
                  style="margin-left: auto; margin-right: auto;"
                >
                  <tbody>
                    <tr>
                      <td
                        class="icon"
                        style="padding-left: 0.6rem; padding-right: 0.6rem;"
                      >
                        <a href="https://www.linkedin.com/showcase/patr/">
                          <img
                            width="35"
                            height="35"
                            src="https://static-images.patr.cloud/email/icons/linkedin.png"
                            alt="linkedin"
                          />
                        </a>
                      </td>
                      <td
                        class="icon"
                        style="padding-left: 0.6rem; padding-right: 0.6rem;"
                      >
                        <a href="https://www.instagram.com/patrcloud/">
                          <img
                            width="35"
                            height="35"
                            src="https://static-images.patr.cloud/email/icons/instagram.png"
                            alt="instagram"
                          />
                        </a>
                      </td>
                      <td
                        class="icon"
                        style="padding-left: 0.6rem; padding-right: 0.6rem;"
                      >
                        <a href="https://twitter.com/patrcloud">
                          <img
                            width="35"
                            height="35"
                            src="https://static-images.patr.cloud/email/icons/twitter.png"
                            alt="twitter"
                          />
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td class="pb-lg" style="padding-bottom: 3rem;"></td>
            </tr>
          </tbody>
        </table>
      </span>
    </div>
  </body>
</html>